[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "zsh/git-prompt"]
	path = zsh/git-prompt
	url = git://github.com/olivierverdier/zsh-git-prompt.git
[submodule "kde/share/apps/konsole"]
	path = kde/share/apps/konsole
	url = git://github.com/phiggins/konsole-colors-solarized.git
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell
