[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = git://github.com/godlygeek/csapprox
[submodule "vim/bundle/nertdree"]
	path = vim/bundle/nertdree
	url = git://github.com/scrooloose/nerdtree
